.header {
    background-color: #dce0e6;
    border-radius: 15px 15px 0px 0px;
    padding: 5px 15px 1px 20px;
    border-bottom: 5px solid white;
}

.header__title {
    color: rgb(26, 34, 34);
}

.header__lowTitle {
    color: rgb(0, 15, 0);
}
