html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: "Source Sans Pro", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    background-color: #dce0e6;
    border-radius: 15px 15px 0px 0px;
    padding: 5px 15px 1px 20px;
    border-bottom: 5px solid white;
}

.header__title {
    color: rgb(26, 34, 34);
}

.header__lowTitle {
    color: rgb(0, 15, 0);
}

.navigation__headerButton {
    margin: 10px 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    text-decoration: none;
    background-color: #1e2939;
    color: #ece6e6fa;
    border: 4px outset white;
    border-radius: 10px;
    padding: 5px;
}

.navigation__item {
    display: inline-block;
    background-color: #e1d5d5;
    color: rgb(26, 34, 34);
    border-radius: 10px;
    border: inset;
    margin: auto;
    padding: 5px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
}

.navigation__link {
    margin: 2px;
    color: #0d1727;
    font-style: solid;
    text-decoration: none;
    padding: 5px 10px;
}

.navigation__item:hover {
    background-color: #ea8e16;
}

.navigation {
    background-color: #293b58;
    padding: 1px;
    border-bottom: 5px solid white;
}

.main {
    background-color: #dce0e6;
    line-height: 1.5;
    padding: 10px;
}

.darkTheme {
    background-color: #293b58;
    color: #ece6e6fa
}

.table__row {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

.table__cell:hover {
    background: #2cabdd7a;
    color: rgb(36, 24, 47);
}

.table__cell {
    background-color: #d78a0f;
    color: #200707;
    padding: 10px;
}

.table__header {
    background-color: #bec0d4fa;
    padding: 10px;
    color: #0d1727;
}

.table__header:hover {
    background: #bceb137a;
    color: rgb(200, 28, 28);
}

.aside {
    width: 420px;
    background-color: #1e2939;
    color: white;
    padding: 10px;
}

.container {
    display: flex;
}

.aside__mail {
    color: #ffff;
}

.main__removeTableButton {
    margin: 10px 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    text-decoration: none;
    background-color: #1e2939;
    color: #ece6e6fa;
    border: 4px outset white;
    border-radius: 10px;
    padding: 5px;
}

.footer {
    background-color: #293b58;
    color: #f6f3f3;
    font-size: 15px;
    text-align: center;
}

.table {
    width: 100%;
}