html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: "Source Sans Pro", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

.darkTheme {
    background-color: #293b58;
    color: #ece6e6fa
}


